* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 100vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.post {
    width: 520px;
    display: flex;
    border: 1px solid rgb(216, 216, 216);
    padding: 0 10px 0 0;
    margin-top: 15px;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.navbar {
    height: 50px;
    width: 100vw;
    padding: 0 15%;
    background: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__links {
    margin: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.login__links {
    display: flex;
}

.subject_bar p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 10px 0;
    text-transform: uppercase;
}

.medium_bar p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 10px 0;
    text-transform: uppercase;
}

.search_bar{
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    margin-top: 10px;
    text-transform: uppercase;
}

.subject_list{
    list-style: none;
    cursor: pointer;
};

.subject_list li {
    cursor: pointer;
}


.subject_list li:hover {
    background: #ebf4f5;
}

.container-form{
    width: 360px;
    margin: auto;
    padding: 8% 0 0;
}

.card{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card-header{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #6d706d;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 15px 0;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }


.raw{
    display: flex;
    justify-content: space-between;
}
.form .message {
    margin: 0;
    color: #b3b3b3;
    font-size: 12px;
  }

.message-link {
    color: #4CAF50;
    text-decoration: none;
  }

.like_buttons{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    justify-content: center;
}

.active-likebutton{
    border: 2px solid #1fb838;
    border-radius: 8px;
    font-size: 10px;
    color: black;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: white;
}

.active-dislikebutton{
    border: 2px solid #da2e2e;
    border-radius: 8px;
    font-size: 10px;
    color: black;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: white;
}

.button{
    border-radius: 8px;
    font-size: 10px;
    color: black;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: white;
}

.dropdown_select{
    display: flex;
    flex-direction: column;
    appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0.5rem 0;
  width: 100%;
  
}

.dropdown_items{
    cursor: pointer;
    margin: 0.5rem 0;
}

.add_tobasket{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
